requests
prefect==3.1.13
python-dateutil==2.9.0
hvac==2.3.0
parsel==1.10.0
pandas==2.2.3
pymysql==1.1.0
alerta==8.5.3
praw==7.8.1
slack_sdk==3.34.0
fabric==3.2.2
b2sdk==2.7.0
matplotlib
scipy
